pipelines/pipeline/PL_Copy_MultipleTables_DBOs.json
{
	"name": "PL_Copy_MultipleTables_DBOs",
	"properties": {
		"activities": [
			{
				"name": "Lookup1_fetching_controltable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\n    SchemaName,\n    TableName,\n    ContainerName\nFROM dbo.ControlTable3",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_For_lkp1_controltable3",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_for_iterating_purpose",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1_fetching_controltable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1_fetching_controltable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Source_19062026_DBO_Practice",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item()",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Sink_19062026_Practice",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@item().ContainerName",
											"type": "Expression"
										},
										"FolderName": "@concat( formatDateTime(utcNow(),'yyyy/MM/dd'), '/', item().SchemaName )",
										"FileName": {
											"value": "@concat(item().TableName,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}