pipelines/pipeline/PL_Enterprise_ETL.json
{
	"name": "PL_Enterprise_ETL",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SRC_ENTERPRICE_ETL_220726",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SP_INSERT_AUDITTABLE",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set_RunID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_InsertAudit]",
								"storedProcedureParameters": {
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "String"
									},
									"RunID": {
										"value": "@variables('RunID')",
										"type": "Guid"
									},
									"TableName": {
										"value": "@item().TableName",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set_RunID",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RunID",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SP_INSERT_AUDITTABLE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ERP_ETL_SOURCE_SQL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BLOB_ERP_CSV",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SchemaName": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			}
		},
		"variables": {
			"RunID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}