pipelines/pipeline/PL_MetadataDriven_Copy.json
{
	"name": "PL_MetadataDriven_Copy",
	"properties": {
		"activities": [
			{
				"name": "LK_Read_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select * from ADF_ControlTable_Metadata\nwhere IsActive = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_PL_METADATADRIVEN_COPY_21072026",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Process_Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_Read_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_Read_Metadata').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}