pipelines/pipeline/PL_RetailSales_Load.json
{
	"name": "PL_RetailSales_Load",
	"properties": {
		"activities": [
			{
				"name": "LK_StartLog",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "EXEC dbo.usp_StartLog\n    @PipelineName = 'PL_RetailSales_Load',\n    @RunID = 'ADF_TEST_RUN';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_server_pl_retailsales_load",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LK_StartLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_LogID",
					"value": {
						"value": "@activity('LK_StartLog').output.value[0].LOGID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServer_copyactivity_retail_salesorders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkDS_Retail_SalesOrders",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_EndLog]",
					"storedProcedureParameters": {
						"LogID": {
							"value": {
								"value": "@variables('v_LogID')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data1').output.rowsRead\n\n",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Copy data1').output.rowsCopied\n",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorCode": {
							"value": "",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup2-watermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"variables": {
			"v_LogID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}